<footer>
  <div class="wrapper py-3">
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));" class="gap-3">
      <div>
        <h3>O que é o Cartão de TODOS?</h3>
        <p>
          É o maior cartão de descontos do Brasil! Com ele você tem acesso a
          saúde, educação, lazer e muito mais por apenas R$ 29,70 mensais!
        </p>
        <ul>
          <li>Consultas médicas a partir de R$ 26</li>
          <li>Medicamentos com até 35% de descontos</li>
          <li>
            Até 75% de desconto em milhares de estabelecimentos em todo o País
          </li>
        </ul>
      </div>
  
      <div>
        <h3>Medicamentos com até 35% de desconto</h3>
        <p>
          Com o Cartão de TODOS, você tem descontos exclusivos em farmácias
          parceiras nos mais variados medicamentos que precisar, de marca ou
          genéricos!
        </p>
  
        <p class="landing-page__categories horizontal start wrap gap-1 my-5">
          <span class="badge bg-green-3 txt-black fsz-3">consultas</span>
          <span class="badge bg-green-3 txt-black fsz-3">exames</span>
          <span class="badge bg-green-3 txt-black fsz-3">farmácias</span>
          <span class="badge bg-green-3 txt-black fsz-3">psicologia</span>
          <span class="badge bg-green-3 txt-black fsz-3">descontos</span>
          <span class="badge bg-green-3 txt-black fsz-3">cashback</span>
        </p>
      </div>
    </div>
  </div>

  <div class="bg-grey-200 py-5">
    <div class="wrapper">
      <small>
        * Cartão de desconto não é plano de saúde, não garante e não se
        responsabiliza pelos serviços oferecidos e pelo pagamento das despesas,
        nem assegura desconto em todos os serviços obrigatoriamente garantidos por
        plano de saúde. Tudo o que o cliente usar ou comprar será por ele pago ao
        prestador, assegurando-se apenas os preços e descontos que constam na
        relação de empresas e serviços conveniados disponibilizados no site
        www.cartaodetodos.com.br. O atendimento será em até 15 dias, mediante
        disponibilidade na clínica. Consulte a clínica parceira para as
        especialidades disponíveis e condições para marcar as consultas.
      </small>
    </div>
  </div>
</footer>
