.icon {
  display: inline-block;
  vertical-align: middle;

  svg {
    display: block;
    width: 1em;
    height: 1em;
    color: inherit;

    > * {
      fill: currentColor;
    }
  }
}

.circ {
  border-radius: 9999px;
  overflow: hidden;
}

.circ img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inline-highlight,
.badge {
  display: inline;
  padding: 0 0.8rem 0.1rem;
  -ms-box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;

  color: var(--white);
  background-color: var(--black);
}

.badge {
  border-radius: 1em;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 var(--spacing);
}

.ttu {
  text-transform: uppercase;
}

.tac {
  text-align: center;
}

.fsz-0 {
  font-size: 0;
}

.fsz-1 {
  font-size: 0.75em;
}

.fsz-2 {
  font-size: 1em;
}

.fsz-3 {
  font-size: 1.25em;
}

.fsz-4 {
  font-size: 1.5em;
}

.fsz-5 {
  font-size: 2em;
}

.m-0 {
  margin: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-1 {
  margin: var(--spacing-xs);
}

.my-1 {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.mx-1 {
  margin-left: var(--spacing-xs);
  margin-right: var(--spacing-xs);
}

.m-2 {
  margin: var(--spacing-sm);
}

.my-2 {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.mx-2 {
  margin-left: var(--spacing-sm);
  margin-right: var(--spacing-sm);
}

.m-3 {
  margin: var(--spacing);
}

.my-3 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.mx-3 {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}

.m-4 {
  margin: var(--spacing-lg);
}

.my-4 {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.mx-4 {
  margin-left: var(--spacing-lg);
  margin-right: var(--spacing-lg);
}

.m-5 {
  margin: var(--spacing-xl);
}

.my-5 {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.p-0 {
  padding: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-1 {
  padding: var(--spacing-xs);
}

.py-1 {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

.px-1 {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.p-2 {
  padding: var(--spacing-sm);
}

.py-2 {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.px-2 {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.p-3 {
  padding: var(--spacing);
}

.py-3 {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.px-3 {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.p-4 {
  padding: var(--spacing-lg);
}

.py-4 {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.px-4 {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

.p-5 {
  padding: var(--spacing-xl);
}

.py-5 {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.px-5 {
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
}

.lh-0 {
  line-height: 0;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.25;
}

.lh-3 {
  line-height: 1.5;
}

.lh-4 {
  line-height: 1.75;
}

.lh-5 {
  line-height: 2;
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-grey-100 {
  background-color: var(--grey-100);
}

.bg-grey-200 {
  background-color: var(--grey-200);
}

.bg-grey-300 {
  background-color: var(--grey-300);
}

.bg-grey-400 {
  background-color: var(--grey-400);
}

.bg-grey-500 {
  background-color: var(--grey-500);
}

.bg-grey-600 {
  background-color: var(--grey-600);
}

.bg-grey-700 {
  background-color: var(--grey-700);
}

.bg-grey-800 {
  background-color: var(--grey-800);
}

.bg-grey-900 {
  background-color: var(--grey-900);
}

.bg-grey-1000 {
  background-color: var(--grey-1000);
}

.bg-red-1 {
  background-color: var(--red-1);
}

.bg-red-2 {
  background-color: var(--red-2);
}

.bg-red-3 {
  background-color: var(--red-3);
}

.bg-orange-1 {
  background-color: var(--orange-1);
}

.bg-orange-2 {
  background-color: var(--orange-2);
}

.bg-orange-3 {
  background-color: var(--orange-3);
}

.bg-yellow-1 {
  background-color: var(--yellow-1);
}

.bg-yellow-2 {
  background-color: var(--yellow-2);
}

.bg-yellow-3 {
  background-color: var(--yellow-3);
}

.bg-blue-1 {
  background-color: var(--blue-1);
}

.bg-blue-2 {
  background-color: var(--blue-2);
}

.bg-blue-3 {
  background-color: var(--blue-3);
}

.bg-green-1 {
  background-color: var(--green-1);
}

.bg-green-2 {
  background-color: var(--green-2);
}

.bg-green-3 {
  background-color: var(--green-3);
}

.txt-white {
  color: var(--white);
}

.txt-black {
  color: var(--black);
}

.txt-grey-100 {
  color: var(--grey-100);
}

.txt-grey-200 {
  color: var(--grey-200);
}

.txt-grey-300 {
  color: var(--grey-300);
}

.txt-grey-400 {
  color: var(--grey-400);
}

.txt-grey-500 {
  color: var(--grey-500);
}

.txt-grey-600 {
  color: var(--grey-600);
}

.txt-grey-700 {
  color: var(--grey-700);
}

.txt-grey-800 {
  color: var(--grey-800);
}

.txt-grey-900 {
  color: var(--grey-900);
}

.txt-grey-1000 {
  color: var(--grey-1000);
}

.txt-red-1 {
  color: var(--red-1);
}

.txt-red-2 {
  color: var(--red-2);
}

.txt-red-3 {
  color: var(--red-3);
}

.txt-orange-1 {
  color: var(--orange-1);
}

.txt-orange-2 {
  color: var(--orange-2);
}

.txt-orange-3 {
  color: var(--orange-3);
}

.txt-yellow-1 {
  color: var(--yellow-1);
}

.txt-yellow-2 {
  color: var(--yellow-2);
}

.txt-yellow-3 {
  color: var(--yellow-3);
}

.txt-blue-1 {
  color: var(--blue-1);
}

.txt-blue-2 {
  color: var(--blue-2);
}

.txt-blue-3 {
  color: var(--blue-3);
}

.txt-green-1 {
  color: var(--green-1);
}

.txt-green-2 {
  color: var(--green-2);
}

.txt-green-3 {
  color: var(--green-3);
}
